{% load static %}
<!DOCTYPE html>
<head>
    <title>People Counter</title>
    <link href="{%  static 'css/bootstrap.min.css'%}" rel = "stylesheet">
    <link href="{%  static 'css/style.css'%}" rel="stylesheet">
    {# MORRIS.JS for Chart #}

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{%  static 'js/bootstrap.js'%}"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-info py-2">
        <a class="navbar-brand" href="/"><h3>People Counter</h3></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar navbar-brand" href="/">Home</a>
        <a class="navbar navbar-brand" href="history/">History</a>
        <a class="navbar navbar-brand" href="#">Export</a>
    </nav>
    <div class="container" style="margin-top : 20px;">
        <!-- <div class="col-md-5 offset-md-2"><h4>Select Date</h4></div> -->
        <div class="row col-md-12">
            <div class="row col-md-3 offset-md-2">
                <h6>From</h6>
            </div>
            <div class="row col-md-5">
                <h6>To</h6>
            </div>
        </div>
    <form action="" method="get">
        <div class="row col-md-12">
            <div class="row col-md-3 offset-md-2">
                <div class="form-group row col-md-12">
                    <input data-date-format="yyyy-mm-dd" id="datepickerFrom" class="form-control" name="dateFrom">
                </div>
            </div>
            <div class="row col-md-3">
                <div class="form-group row col-md-12">
                    <input data-date-format="yyyy-mm-dd" id="datepickerTo" class="form-control" name="dateTo">
                </div>
            </div>
            <div class="form-group col-sm-3">
                    <input class="btn btn-default" type="submit" value="search">                                  
            </div>
            
        </div>
    </form>
    <div class="row col-md-12">
        <div class="row col-md-2 offset-md-11 ">
                <a href="{% url 'export_range' %}">
                <button type="button" class="btn btn-info" >Generate</button></a>
        </div>
    </div>
    <div class="container" style="margin-top : 20px;">
        <table class="table">
                <thead>
                    <tr>
                        <th>Date of Counter</th>
                        <th>Pukul 10</th>
                        <th>Pukul 11</th>
                        <th>Pukul 12</th>
                        <th>Pukul 13</th>
                        <th>Pukul 14</th>
                        <th>Pukul 15</th>
                        <th>Pukul 16</th>
                        <th>Pukul 17</th>
                        <th>Pukul 18</th>
                        <th>Pukul 19</th>
                        <th>Pukul 20</th>
                        <th>Pukul 21</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rekap_pengunjung in datas %}
                    <tr> 
                        <td>{{ rekap_pengunjung.tanggal }}</td>
                        <td>{{ rekap_pengunjung.pukul10 }}</td>
                        <td>{{ rekap_pengunjung.pukul11 }}</td>
                        <td>{{ rekap_pengunjung.pukul12 }}</td>
                        <td>{{ rekap_pengunjung.pukul13 }}</td>
                        <td>{{ rekap_pengunjung.pukul14 }}</td>
                        <td>{{ rekap_pengunjung.pukul15 }}</td>
                        <td>{{ rekap_pengunjung.pukul16 }}</td>
                        <td>{{ rekap_pengunjung.pukul17 }}</td>
                        <td>{{ rekap_pengunjung.pukul18 }}</td>
                        <td>{{ rekap_pengunjung.pukul19 }}</td>
                        <td>{{ rekap_pengunjung.pukul20 }}</td>
                        <td>{{ rekap_pengunjung.pukul21 }}</td>
                    </tr>
                    {% endfor %}
                    {% if not datas %}
                    <tr>
                      <td colspan="6" class="cs-text-center cs-empty-table"> There is no data yet. Please add a data ! </td>
                    </tr>
                  {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'base/js.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style type="text/css">
            .datepicker {
                font-size: 0.875em;
            }            
            .datepicker td, .datepicker th {
                width: 2em;
                height: 2em;
            }
            
    </style>
    <script type="text/javascript">
    var DATA = window.location.pathname.replace("/", ""); 
        $('#datepickerFrom').datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
        $('#datepickerFrom').datepicker("setDate", new Date());
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var history = document.getElementById("dateFrom");
        var date = m + "/" + d + "/" + y;
        history.src = "http://127.0.0.1:8000/history/" + DATA;
    
    var DATA = window.location.pathname.replace("/", ""); 
        $('#datepickerTo').datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
        $('#datepickerTo').datepicker("setDate", new Date());
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var history = document.getElementById("dateTo");
        var date = m + "/" + d + "/" + y;
        history.src = "http://127.0.0.1:8000/history/" + DATA;
    </script>

</body>